[Unit]
Description=GitLab
After=docker.service
Requires=docker.service
BindsTo=docker.service

[Service]
SyslogIdentifier=%n
MemoryMax=6G
MemoryHigh=5G
ExecStart=/usr/bin/systemd-docker --cgroups name=systemd run \
  --env GITLAB_OMNIBUS_CONFIG="\
    gitlab_rails['pages_port'] = 443; \
    gitlab_rails['pages_https'] = true; \
    gitlab_pages['external_http'] = '127.0.0.1:80'; \
    gitlab_pages['external_https'] = '127.0.0.1:443'; \
  " \
  docker.io/gitlab/gitlab-ee:18.5.2-ee.0
;  ----------------------------  https://gitlab-com.gitlab.io/support/toolbox/upgrade-path/
;  docker.io/gitlab/gitlab-ee:18.4.4-ee.0
;  docker.io/gitlab/gitlab-ee:18.3.6-ee.0
;  docker.io/gitlab/gitlab-ee:18.3.0-ee.0
;  docker.io/gitlab/gitlab-ee:18.2.4-ee.0
;  docker.io/gitlab/gitlab-ee:17.11.7-ee.0
;  docker.io/gitlab/gitlab-ee:17.8.7-ee.0
;  docker.io/gitlab/gitlab-ee:17.6.2-ee.0
;  docker.io/gitlab/gitlab-ee:17.5.4-ee.0
;  docker.io/gitlab/gitlab-ee:17.3.7-ee.0
;  docker.io/gitlab/gitlab-ee:17.3.4-ee.0
;  docker.io/gitlab/gitlab-ee:17.1.1-ee.0
;  docker.io/gitlab/gitlab-ee:16.11.5-ee.0
;  docker.io/gitlab/gitlab-ee:16.7.8-ee.0
;  docker.io/gitlab/gitlab-ee:16.7.2-ee.0
;  docker.io/gitlab/gitlab-ee:16.3.7-ee.0
;  docker.io/gitlab/gitlab-ee:16.1.6-ee.0
;  docker.io/gitlab/gitlab-ee:16.1.0-ee.0
;  docker.io/gitlab/gitlab-ee:16.0.5-ee.0
;  docker.io/gitlab/gitlab-ee:15.11.9-ee.0
;  docker.io/gitlab/gitlab-ee:15.9.2-ee.0
;  docker.io/gitlab/gitlab-ee:15.8.4-ee.0
;  docker.io/gitlab/gitlab-ee:15.7.8-ee.0
;  docker.io/gitlab/gitlab-ee:15.6.8-ee.0
;  docker.io/gitlab/gitlab-ee:15.4.6-ee.0
;  docker.io/gitlab/gitlab-ee:15.0.5-ee.0
;  docker.io/gitlab/gitlab-ee:15.0.1-ee.0
;  docker.io/gitlab/gitlab-ee:14.10.4-ee.0
;  docker.io/gitlab/gitlab-ee:14.5.2-ee.0
;  docker.io/gitlab/gitlab-ee:14.5.0-ee.0
;  docker.io/gitlab/gitlab-ee:14.3.0-ee.0
;  docker.io/gitlab/gitlab-ee:14.1.6-ee.0
;  docker.io/gitlab/gitlab-ee:14.0.11-ee.0
;  docker.io/gitlab/gitlab-ee:13.12.12-ee.0
;  docker.io/gitlab/gitlab-ee:13.0.14-ee.0
;  docker.io/gitlab/gitlab-ee:12.10.14-ee.0
;  docker.io/gitlab/gitlab-ee:12.9.4-ee.0
;  docker.io/gitlab/gitlab-ee:12.1.6-ee.0
;  docker.io/gitlab/gitlab-ee:11.11.3-ee.0
;  docker.io/gitlab/gitlab-ee:10.5.4-ee.0
;  docker.io/gitlab/gitlab-ee:8.15.4-ee.1
;  docker.io/gitlab/gitlab-ee:8.11.2-ee.1
;  docker.io/gitlab/gitlab-ee:8.8.1-ee.0
Restart=always
RestartSec=30s
Type=notify
NotifyAccess=all
TimeoutStartSec=120
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target